[submodule "presence-fxapp"]
	path = presence-fxapp
	url = https://github.com/mozilla-services/presence-fxapp.git
[submodule "presence-tribe"]
	path = presence-tribe
	url = https://github.com/mozilla-services/presence-tribe.git
